*{
    margin: 0px;

}



body {
      background-image: url(pexels-scottwebb-305821.jpg);
      background-repeat: no-repeat;
      height: 100vh;
      background-size: cover;

      
}
.navbar{
    background-color:green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    
}
.navdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h1 , li {
    text-decoration: white ;
}
li{
    list-style: none;
    display: inline-block;
    text-decoration: underline;
}

    

.Image{
    float:left;
    border:white ;
    margin-left:2px ;
}
.Image img{
    border-radius: 50%;
    
}
.aboutme{
    font-size:120% ;
}